body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #f5eef5;
}

.sidebar-inner {
  height: 100vh;
  padding: 20px;
  position: relative;
}

.head {
  width: 90px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 18px;
}

.name {
  background: #bf73bf;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  border-radius: 5px;
  text-align: center;
}

.meslek {
  font-weight: 700;
  font-size: 10px;
  text-align: center;
  margin: 7px 0 40px;
  color: hsla(237deg 74% 33% / 61%);
}

.project-btn {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 12px;
  text-decoration: none;
  font-size: 13px;
  background: #fff;
  box-shadow: 2px 2px 8px #d9c8d9;
  color: #3b3b8f;
}

.project-btn:hover {
  background: #d9c8d9;
}

.social-footer {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-footer img {
  width: 22px;
  height: 22px;
  opacity: .75;
}

.social-footer img:hover {
  opacity: 1;
  transform: scale(1.1);
}
